/*.out
/*.pyc
/*~
/Makefile
/Makefile.in
/brkpt3.cmd
/brkpt3.right
/brkpt3t.right
/except.py
/exceptbug.py
/file-2.5.right
/file.cmd
/file.right
/settrace.py
/test-complete.py
/test-connect.py
/test-contbug.py
/test-dbgcall.py
/test-disassem.py
/test-fifo-connect.py
/test-file.py
/test-fns.py
/test-help.py
/test-import.py
/test-linetrace.py
/test-pm.py
/test-run.py
/test-save.py
/test-setshow.py
/test-sig.py
/test-sighandle.py
/test-skip.py
/test-step.py
/test-tcp-connect.py
/test-trace.py
/test-with.py
/test.py
